.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  /* background-color: rgb(234, 93, 130); */

  background-color: #fff;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(243, 159, 159);
  justify-content: center;
  font-family: "Lato", sans-serif;
  background-color: #fff;
  background-color: rgb(234, 93, 130);
  color: #fff;
}

.back_btn {
  position: absolute;
  left: 2%;
  top: 10px;
  font-size: 25px;
  color: #fff;
}

.img {
  width: 25%;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.detail_table {
  /* border: 1px solid rgb(255, 255, 255); */
  margin: 0 2px;
  border-radius: 4px;
  background-color: rgb(234, 93, 130);
}

th {
  border: 1px double white;
}

td {
  border: 0.5px dotted rgb(255, 255, 255);
}

.thead {
  font-size: 18px;
  font-weight: bolder;
}

.th1 {
  text-align: left;
  padding: 7px;
  padding-left: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: rgb(58, 54, 54);
}

.th2 {
  text-align: left;
  padding: 7px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: rgb(251, 251, 251);
}

.td1 {
  text-align: left;
  padding: 7px;
  padding-left: 15px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: rgb(58, 54, 54);
}

.td2 {
  text-align: left;
  padding: 7px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
}

.price {
  color: #cdcdcd;
  font-size: 17px;
}
